html, body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  display: flex;
  justify-content: center;
}
#app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.screen {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  padding: 5px;
  overflow: auto;
}
.screen-head {
  font-size: 200%;
  font-weight: lighter;
  border-bottom: 1px dashed #aaa;
}
#tournament-view, #current-game, #game-moves {
  border: 1px solid #bbb;
}
.text-button {
  border: 1px solid #bbb;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 5pt 5pt 0pt 5pt;
  justify-content: center;
  overflow: hidden;
}
.text-button > * { margin: 5pt; }
#main-team-wrapper {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}
.team {
  display: flex;
  flex-direction: row;
}
.team > *:first-child {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.team {
  border: 1px solid #ddd;
  padding: 5px 10px;
}
#main-team {
  font-size: 200%;
  background-color: #607D8B;/*3F51B5;*/
  color: white;
}
#opponents {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  align-content: center;
}
.opponent {
  margin: 5px 0;
  display: flex;
  flex-direction: row;
}
.result-block, .team-block, .move-block {
  border: 1px solid #ddd;
  padding: 10px;
  font-size: 150%;
}
.result-block, .move-block {
  border-left: 0px;
}
.playing {
  background-color: #795548;
  color: white;
}
.win {
  background-color: #4CAF50;
  color: white;
}
.lose {
  background-color: #F44336;
  color: white;
}
.tie {
  background-color: #FFC107;
  color: white;
}
.yet {
  background-color: #9E9E9E;
  color: white;
}
.control-block {
  width: 3ex;
  height: 3ex;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
  border: 1pt solid gray;
  margin-left: 5px;
  cursor: pointer;
  background-color: #fff;
}
.control-block:hover {
  background-color: #eee;
}
.control-block.unselected {
  color: gray;
  background-color: #dddddd;
}
#main-content {
  flex-grow: 3;
}
#game-pad {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 30px;
  overflow: auto;
}
.squarerow {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  flex-direction: row;
  width: 100%;
}
.square {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
  font-size: 300%;
  min-width: 3ex;
  min-height: 3ex; 
  border: 1px solid gray;
  align-items: center;
  justify-content: center;
  user-select: none;
  -moz-user-select: none;
}
.square:hover {
  background-color: #dddddd;
}
.square:nth-child(2) { border-left-width: 0pt!important; }
.square:last-child { border-right-width: 0pt!important; }
.square:first-child { border-width: 0pt!important; font-size: 200%; justify-content: flex-start; padding: 5pt; min-width: 2ex; flex-grow: 0; }
.square:first-child:hover { background-color: #fff!important; }
.squarerow:nth-child(2) .square { border-top-width: 0pt!important; }
.squarerow:last-child .square { border-bottom-width: 0pt!important; }
.squarerow:first-child .square { border-width: 0pt!important; font-size: 200%; align-items: flex-start; padding: 5pt; min-height: 2ex; }
.squarerow:first-child { flex-grow: 0; }
.squarerow:first-child .square:hover { background-color: #fff!important; }
#playback-control {
  display: flex;
  flex-direction: row;
}
#playback-range {
  flex-grow: 1;
  margin: 0pt 10pt;
}
#controls { 
  display: flex;
  flex-direction: row;
  font-size: 200%;
  padding: 5px 0px;
  justify-content: center;
  z-index: 1000;
}
.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #ffffffaa;
  display: flex;
  flex-direction: column;
}
.overlay-box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 50px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1pt solid #dddddd;
  overflow: auto;
} 
.overlay-title {
  font-weight: lighter;
  font-size: 150%;
}
.overlay-content {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  flex-grow: 1;
  padding: 10px;
  /* font-size: 200%; */
}
.overlay-controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* font-size: 200%; */
}
#scoreboard-overlay .overlay-content {
  justify-content: center;
  align-content: center;
  overflow: scroll;
}
#scoreboard td {
  text-align: center;
  width: 2ex;
  height: 1ex;
}
#score-text {
  border: 1px solid #ddd;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
}
.score-team-label {
  /* font-weight: lighter; */
  font-size: 80%;
}
#current-game {
  margin-bottom: 5px;
  flex-grow: 0.5;
}
#current-game-content {
  justify-content: center;
}
#current-game-info {
  font-size: 180%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
#current-game-result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 180%;
  padding: 5pt;
}
.game-move {
  display: flex;
  flex-direction: row;
  padding: 5pt;
  justify-content: center;
}
.game-move:hover > * {
  background-color: #eee; 
}